<div [formGroup]="form">

  <div [class.has-danger]="form.controls[control.key].invalid && form.controls[control.key].touched" [class.has-success]="form.controls[control.key].valid && form.controls[control.key].touched">
    <label [attr.for]="control.key" [class.form-control-label]="form.controls[control.key].touched">{{control.label}}</label>
    <div [ngSwitch]="control.controlType">

      <input *ngSwitchCase="'textbox'" [id]="control.key" [type]="control.type" class="form-control" [formControlName]="control.key"
        [placeholder]="control.placeholder" [class.form-control-danger]="form.controls[control.key].invalid && form.controls[control.key].touched"
        [class.form-control-success]="form.controls[control.key].valid && form.controls[control.key].touched">

      <select class="form-control" [id]="control.key" *ngSwitchCase="'dropdown'" [formControlName]="control.key" [class.form-control-danger]="form.controls[control.key].invalid && form.controls[control.key].touched"
        [class.form-control-success]="form.controls[control.key].valid && form.controls[control.key].touched">
        <option value="">Seleccione...</option>
        <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
      </select>

      <div class="input-group" *ngSwitchCase="'date'">
        <input class="form-control" [placeholder]="control.placeholder" [id]="control.key" [name]="control.key" ngbDatepicker #d="ngbDatepicker"
          [formControlName]="control.key" [class.form-control-danger]="form.controls[control.key].invalid && form.controls[control.key].touched"
          [class.form-control-success]="form.controls[control.key].valid && form.controls[control.key].touched">
        <div class="input-group-addon" (click)="d.toggle()">
          <i class="fa fa-calendar"></i>
        </div>
      </div>

      <textarea *ngSwitchCase="'textarea'" class="form-control" [rows]="control.rows" [id]="control.key" [placeholder]="control.placeholder"
        [formControlName]="control.key" [class.form-control-danger]="form.controls[control.key].invalid && form.controls[control.key].touched"
        [class.form-control-success]="form.controls[control.key].valid && form.controls[control.key].touched"></textarea>

      <app-control-messages [control]="form.controls[control.key]"></app-control-messages>

    </div>
  </div>

</div>