<div class="row">
  <div class="col-md-12">
    <div class="card card-body">
      <h4 class="card-title">Información Básica</h4>
      <h6 class="card-subtitle">Los campos con (*) son obligatorios</h6>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()" class="row">

            <div *ngFor="let control of controls$ | async" class="form-group col-md-6 m-t-20">
              <app-dynamic-form-control [control]="control" [form]="form"></app-dynamic-form-control>
            </div>

            <div class="col-md-12">
              <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="!form.valid">Guardar</button>
              <button type="button" class="btn btn-inverse waves-effect waves-light" (click)="reset()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>