$droppable-margin: 2px;
$full-width: 95%;
$margin-card: 8px;

mat-card {

    margin-bottom: $margin-card;

    mat-form-field {
        width: $full-width;

        mat-chip {
            margin: 2px !important;
        }
    }
}