<mat-card>
  <mat-card-title>Diseño de Regla</mat-card-title>
  <mat-card-content>
    <form [formGroup]="addRuleForm" (ngSubmit)="addRule()">
      <mat-grid-list cols="2" rowHeight="6:2">

        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Tipo de campo" #fieldTypeRef formControlName="fieldType" (change)="onChangeFieldType($event)" [errorStateMatcher]="customErrorStateMatcher">
              <mat-option *ngFor="let fieldType of fieldTypeByAcquirer$ | async" [value]="fieldType.value">
                {{fieldType.label}}
              </mat-option>
            </mat-select>
            <mat-error [appDynamicMatError]="addRuleForm.controls.fieldType" *ngIf="fieldTypeRef.errorState">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field [hintLabel]="fieldDescription">
            <mat-select placeholder="Campo" #fieldRef formControlName="field" (change)="onChangeField($event)" [errorStateMatcher]="customErrorStateMatcher">
              <mat-option>Seleccione...</mat-option>
              <mat-option *ngFor="let field of varFuncFieldsByAcquirer" [value]="field.value">
                {{field.label}}
              </mat-option>
            </mat-select>
            <mat-error [appDynamicMatError]="addRuleForm.controls.field" *ngIf="fieldRef.errorState">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Condición" #conditionRef formControlName="condition" [errorStateMatcher]="customErrorStateMatcher">
              <mat-option>Seleccione...</mat-option>
              <mat-option *ngFor="let condition of conditionsByFieldByAcquirer" [value]="condition.value">
                {{condition.label}}
              </mat-option>
            </mat-select>
            <mat-error [appDynamicMatError]="addRuleForm.controls.condition" *ngIf="conditionRef.errorState">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="valueTagAndValidatorByFieldAndAcquirer?.controlType === 'textbox'">
          <mat-form-field>
            <input matInput [placeholder]="valueTagAndValidatorByFieldAndAcquirer.tag" formControlName="value">
            <mat-error [appDynamicMatError]="addRuleForm.controls.value" *ngIf="addRuleForm.controls.value.touched">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="valueTagAndValidatorByFieldAndAcquirer?.controlType === 'select'">
          <mat-form-field>
            <mat-select [placeholder]="valueTagAndValidatorByFieldAndAcquirer.tag" #value formControlName="value" [errorStateMatcher]="customErrorStateMatcher">
              <mat-option value="">Seleccione...</mat-option>
              <mat-option *ngFor="let opt of valueTagAndValidatorByFieldAndAcquirer.options" [value]="opt.value">
                {{opt.label}}
              </mat-option>
            </mat-select>
            <mat-error [appDynamicMatError]="addRuleForm.controls.value" *ngIf="value.errorState">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="valueTagAndValidatorByFieldAndAcquirer?.controlType === 'radio'">
          <div>{{valueTagAndValidatorByFieldAndAcquirer.tag}}</div>
          <mat-radio-group class="example-radio-group" formControlName="value">
            <mat-radio-button *ngFor="let opt of valueTagAndValidatorByFieldAndAcquirer.options" [value]="opt.value">
              {{opt.label}}
            </mat-radio-button>
          </mat-radio-group>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="valueTagAndValidatorByFieldAndAcquirer?.secondaryTag">
          <mat-form-field>
            <input matInput [placeholder]="valueTagAndValidatorByFieldAndAcquirer?.secondaryTag" formControlName="secondaryValue">
            <mat-error [appDynamicMatError]="addRuleForm.controls.secondaryValue" *ngIf="addRuleForm.controls.secondaryValue.touched">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

      </mat-grid-list>
      <button mat-raised-button type="submit" color="primary">Agregar</button>
    </form>
  </mat-card-content>
</mat-card>