<mat-card>
  <mat-card-title>Información Básica</mat-card-title>
  <mat-card-subtitle> Estos campos son obligatorios </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="generalRuleForm" novalidate>
      <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Comercio" #commerceIdRef formControlName="commerceId" [errorStateMatcher]="customErrorStateMatcher">
              <mat-option>Seleccione...</mat-option>
              <mat-option *ngFor="let commerce of commerces$ | async" [value]="commerce.value">
                {{commerce.label}}
              </mat-option>
            </mat-select>
            <mat-error [appDynamicMatError]="generalRuleForm.controls.commerceId" *ngIf="commerceIdRef.errorState">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input matInput placeholder="Nombre de regla" formControlName="ruleName">
            <mat-error [appDynamicMatError]="generalRuleForm.controls.ruleName" *ngIf="generalRuleForm.controls.ruleName.touched">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <mat-select placeholder="Estado" #ruleStatusIdRef formControlName="ruleStatusId" [errorStateMatcher]="customErrorStateMatcher">
              <mat-option>Seleccione...</mat-option>
              <mat-option *ngFor="let status of ruleStatus$ | async" [value]="status.value">
                {{status.label}}
              </mat-option>
            </mat-select>
            <mat-error [appDynamicMatError]="generalRuleForm.controls.ruleStatusId" *ngIf="ruleStatusIdRef.errorState">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <textarea matInput rows="3" placeholder="Ingrese descripción" formControlName="description"></textarea>
            <mat-error [appDynamicMatError]="generalRuleForm.controls.description" *ngIf="generalRuleForm.controls.description.touched">
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Reglas</mat-card-title>
  <mat-card-subtitle> Agregue reglas simples o una función </mat-card-subtitle>
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="openRulesModal()">Agregar</button>
    <mat-form-field>
      <mat-chip-list [formControl]="rules">
        <mat-chip [removable]="true" [selectable]="true" (remove)="removeRule(rule)" *ngFor="let rule of rules.value;">
          {{rule.field}} {{rule.condition}} {{rule.value}}
          <mat-icon matChipRemove>cancelar</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <mat-error [appDynamicMatError]="rules" *ngIf="rules.touched"></mat-error>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-toolbar>
  <mat-toolbar-row>
    <button mat-raised-button color="primary" (click)="saveRule()">Guardar</button>
  </mat-toolbar-row>
</mat-toolbar>