<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <img src="assets/images/users/profile.png" alt="user" />
                        <span class="hide-menu">Steave Jobs </span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a href="javascript:void()">My Profile </a>
                        </li>
                        <li>
                            <a href="javascript:void()">My Balance</a>
                        </li>
                        <li>
                            <a href="javascript:void()">Inbox</a>
                        </li>
                        <li>
                            <a href="javascript:void()">Account Setting</a>
                        </li>
                        <li>
                            <a href="javascript:void()">Logout</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li>
                    <a routerLink="/starter" [routerLinkActive]="['router-link-active']">
                        <i class="mdi mdi-gauge"></i>
                        <span class="hide-menu">Starter Page</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-bullseye"></i>
                        <span class="hide-menu">Component</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a routerLink="/accordion" [routerLinkActive]="['router-link-active']">Accordion</a>
                        </li>
                        <li>
                            <a routerLink="/alert" [routerLinkActive]="['router-link-active']">Alert</a>
                        </li>
                        <li>
                            <a routerLink="/carousel" [routerLinkActive]="['router-link-active']">Carousel</a>
                        </li>
                        <li>
                            <a routerLink="/datepicker" [routerLinkActive]="['router-link-active']">Datepicker</a>
                        </li>
                        <li>
                            <a routerLink="/dropdown" [routerLinkActive]="['router-link-active']">Dropdown - Collapse</a>
                        </li>
                        <li>
                            <a routerLink="/modal" [routerLinkActive]="['router-link-active']">Modal</a>
                        </li>
                        <li>
                            <a routerLink="/pagination" [routerLinkActive]="['router-link-active']">Pagination</a>
                        </li>
                        <li>
                            <a routerLink="/poptool" [routerLinkActive]="['router-link-active']">Popover & Tooltip</a>
                        </li>
                        <li>
                            <a routerLink="/progressbar" [routerLinkActive]="['router-link-active']">Progressbar</a>
                        </li>
                        <li>
                            <a routerLink="/rating" [routerLinkActive]="['router-link-active']">Ratings</a>
                        </li>
                        <li>
                            <a routerLink="/tabs" [routerLinkActive]="['router-link-active']">Tabs</a>
                        </li>
                        <li>
                            <a routerLink="/timepicker" [routerLinkActive]="['router-link-active']">Timepicker</a>
                        </li>
                        <li>
                            <a routerLink="/typehead" [routerLinkActive]="['router-link-active']">Typehead</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/basicform" [routerLinkActive]="['router-link-active']">
                        <i class="mdi mdi-file"></i>
                        <span class="hide-menu">Forms</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/wizard" [routerLinkActive]="['router-link-active']">
                        <i class="mdi mdi-file"></i>
                        <span class="hide-menu">Form Wizard</span>
                    </a>
                </li>
                <li>
                    <a routerLink="/basictable" [routerLinkActive]="['router-link-active']">
                        <i class="mdi mdi-table"></i>
                        <span class="hide-menu">Tables</span>
                    </a>
                </li>
                <li>
                    <a class="has-arrow" href="javascript:void(0)" aria-expanded="false">
                        <i class="mdi mdi-brush"></i>
                        <span class="hide-menu">Icons</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a routerLink="/fontawesome" [routerLinkActive]="['router-link-active']">Fontawesome</a>
                        </li>
                        <li>
                            <a routerLink="/simpleline" [routerLinkActive]="['router-link-active']">Simple Line Icons</a>
                        </li>
                        <li>
                            <a routerLink="/material" [routerLinkActive]="['router-link-active']">Material Icons</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-arrange-send-backward"></i>
                        <span class="hide-menu">Multi level dd</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a href="#">item 1.1</a>
                        </li>
                        <li>
                            <a href="#">item 1.2</a>
                        </li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false">Menu 1.3</a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a href="#">item 1.3.1</a>
                                </li>
                                <li>
                                    <a href="#">item 1.3.2</a>
                                </li>
                                <li>
                                    <a href="#">item 1.3.3</a>
                                </li>
                                <li>
                                    <a href="#">item 1.3.4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">item 1.4</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <i class="mdi mdi-arrange-send-backward"></i>
                        <span class="hide-menu">Comercial</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false">Compras</a>
                            <ul aria-expanded="false" class="collapse">
                                <li>
                                    <a class="has-arrow" routerLink="/orders" [routerLinkActive]="['router-link-active']" aria-expanded="false">Pedido</a>
                                    <ul aria-expanded="false" class="collapse">
                                        <li>
                                            <a routerLink="/orders/order/register" [routerLinkActive]="['router-link-active']">Registrar</a>
                                        </li>
                                        <li>
                                            <a routerLink="/orders/order/update" [routerLinkActive]="['router-link-active']">Actualizar</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="/quotations" [routerLinkActive]="['router-link-active']">Cotización</a>
                                </li>
                                <li>
                                    <a routerLink="/purchase-orders" [routerLinkActive]="['router-link-active']">Orden de Compra</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->