<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<!--
  REGLAS
  ******
  - routerLink debe ser único para un determinado menú
  - solo pueden manejarse hasta 4 niveles de opciones
  - todo hijo de nivel mas bajo debe definir un determinado routerLink
  - un padre puede definir, opcionalmente, un routerLink
-->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <ng-container *ngFor="let optionGroup of menu | async">
          <!-- Seccion tipo usuario-perfil -->
          <li *ngIf="optionGroup.type === 'user-profile'" class="user-profile">
            <ng-container *ngFor="let opt of optionGroup.opts">
              <!-- Opcion siempre tiene hijos -->
              <a *ngIf="opt.name" class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                <img [src]="opt.img" alt="user" />
                <span class="hide-menu">{{opt.name}} </span>
              </a>
              <ul aria-expanded="false" class="collapse">
                <li *ngFor="let child of opt.childs">
                  <a href="javascript:void()">{{child.name}} </a>
                </li>
              </ul>
            </ng-container>
          </li>
          <!-- Seccion tipo regular -->
          <ng-container *ngIf="optionGroup.type === 'regular' && optionGroup.grp">
            <li class="nav-devider"></li>
            <li class="nav-small-cap">{{optionGroup.grp}}</li>
            <li *ngFor="let opt of optionGroup.opts">

              <!-- Si opcion no tiene hijos -->
              <ng-container *ngIf="opt.childs.length === 0">
                <a [routerLink]="opt.link" [routerLinkActive]="['router-link-active']">
                  <i [ngClass]="opt.icon"></i>
                  <span class="hide-menu">{{opt.name}}</span>
                </a>
              </ng-container>

              <!-- Si opcion tiene hijos -->
              <ng-container *ngIf="opt.childs.length > 0">

                <ng-container *ngIf="opt.link">
                  <a class="has-arrow waves-effect waves-dark" [routerLink]="opt.link" [routerLinkActive]="['router-link-active']" aria-expanded="false">
                    <i [ngClass]="opt.icon"></i>
                    <span class="hide-menu">{{opt.name}}</span>
                  </a>
                </ng-container>
                <ng-container *ngIf="!opt.link">
                  <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                    <i [ngClass]="opt.icon"></i>
                    <span class="hide-menu">{{opt.name}}</span>
                  </a>
                </ng-container>

                <ul aria-expanded="false" class="collapse">
                  <li *ngFor="let child of opt.childs">

                    <!-- Si opcion NO tiene nietos -->
                    <ng-container *ngIf="child.childs.length === 0">
                      <ng-container *ngIf="child.link">
                        <a [routerLink]="child.link" [routerLinkActive]="['router-link-active']" aria-expanded="false">{{child.name}}</a>
                      </ng-container>
                      <ng-container *ngIf="!child.link">
                        <a href="#" aria-expanded="false">{{child.name}}</a>
                      </ng-container>
                    </ng-container>

                    <!-- Si opcion tiene nietos -->
                    <ng-container *ngIf="child.childs.length > 0">
                      <li>
                        <ng-container *ngIf="child.link">
                          <a class="has-arrow" [routerLink]="child.link" [routerLinkActive]="['router-link-active']" aria-expanded="false">{{child.name}}</a>
                        </ng-container>
                        <ng-container *ngIf="!child.link">
                          <a class="has-arrow" href="#" aria-expanded="false">{{child.name}}</a>
                        </ng-container>
                        <ul aria-expanded="false" class="collapse">
                          <li *ngFor="let child2 of child.childs">
                            <!-- Si opcion NO tiene bisnietos -->
                            <ng-container *ngIf="child2.childs.length === 0">
                              <a [routerLink]="child2.link" [routerLinkActive]="['router-link-active']">{{child2.name}}</a>
                            </ng-container>

                            <!-- Si opcion tiene bisnietos -->
                            <ng-container *ngIf="child2.childs.length > 0">
                              <ng-container *ngIf="child2.link">
                                <a class="has-arrow" [routerLink]="child2.link" [routerLinkActive]="['router-link-active']" aria-expanded="false">{{child2.name}}</a>
                              </ng-container>
                              <ng-container *ngIf="!child2.link">
                                <a class="has-arrow" href="#" aria-expanded="false">{{child2.name}}</a>
                              </ng-container>
                              <ul aria-expanded="false" class="collapse">
                                <li *ngFor="let child3 of child2.childs">
                                  <a [routerLink]="child3.link" [routerLinkActive]="['router-link-active']">{{child3.name}}</a>
                                </li>
                              </ul>
                            </ng-container>
                          </li>
                        </ul>
                      </li>
                    </ng-container>
                  </li>
                </ul>
              </ng-container>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->