<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{'COMERCIAL.PURCHASE.ORDERS.TITLE' | translate}}</h4>
      <h6 class="card-subtitle">{{'COMERCIAL.PURCHASE.ORDERS.SUBTITLE' | translate}}</h6>
      <ngx-datatable #ordersDatatable class="material striped" [rows]="rows$ | async" [columnMode]="'force'" [trackByProp]="'id'"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [count]="page.totalElements" [offset]="page.pageNumber"
        [limit]="page.size" (page)='setPage($event)'>
        <ngx-datatable-column name="date">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'COMERCIAL.PURCHASE.ORDERS.LIST.DATE' | translate}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="amount">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'COMERCIAL.PURCHASE.ORDERS.LIST.AMOUNT' | translate}}
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="sustention">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'COMERCIAL.PURCHASE.ORDERS.LIST.SUSTENTION' | translate}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="product">
          <ng-template let-column="column" ngx-datatable-header-template>
            {{'COMERCIAL.PURCHASE.ORDERS.LIST.PRODUCT' | translate}}
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template let-column="column" ngx-datatable-header-template>
            <strong>{{'COMERCIAL.PURCHASE.ORDERS.ACTION' | translate}}</strong>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a [routerLink]="['/orders/order/update', row.documentId]" data-toggle="tooltip" data-original-title="Editar">
              <i class="fa fa-pencil text-inverse m-r-10"></i>
            </a>
            <a href="javascript:void(0)" data-toggle="tooltip" data-original-title="Eliminar" (click)="deleteOrder(row)">
              <i class="fa fa-close text-danger"></i>
            </a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>