<!-- /.row -->
<div class="row">
  <div class="col-md-12">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Información Básica</h3>
      <p class="text-muted m-b-30 font-13"> Los campos con (*) son obligatorios </p>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form [formGroup]="orderForm" (ngSubmit)="save()">

            <div class="form-group" [hidden]="variableFields.hiddenId">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Ingrese ID de pedido a buscar" formControlName="documentId">
                <span class="input-group-btn">
                  <button [disabled]="variableFields.disabledId" [ngClass]="variableFields.searchClass" (click)="searchOrder()" type="button">{{variableFields.searchButtonName}}</button>
                </span>
              </div>
            </div>

            <div class="form-group" [class.has-danger]="orderForm.controls.date.invalid && orderForm.controls.date.touched" [class.has-success]="orderForm.controls.date.valid && orderForm.controls.date.touched">
              <label for="date" [class.form-control-label]="orderForm.controls.date.touched">Fecha</label>
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="dd-mm-yyyy" name="date" ngbDatepicker #d="ngbDatepicker" formControlName="date"
                    [class.form-control-danger]="orderForm.controls.date.invalid && orderForm.controls.date.touched" [class.form-control-success]="orderForm.controls.date.valid && orderForm.controls.date.touched">
                  <div class="input-group-addon" (click)="d.toggle()">
                    <i class="fa fa-calendar"></i>
                  </div>
                </div>
                <app-control-messages [control]="orderForm.controls.date"></app-control-messages>
              </div>
            </div>

            <div class="form-group" [class.has-danger]="orderForm.controls.amount.invalid && orderForm.controls.amount.touched" [class.has-success]="orderForm.controls.amount.valid && orderForm.controls.amount.touched">
              <label [class.form-control-label]="orderForm.controls.amount.touched" for="amount">Monto</label>
              <input type="text" class="form-control" id="amount" placeholder="Ingrese monto" formControlName="amount" [class.form-control-danger]="orderForm.controls.amount.invalid && orderForm.controls.amount.touched"
                [class.form-control-success]="orderForm.controls.amount.valid && orderForm.controls.amount.touched">
              <app-control-messages [control]="orderForm.controls.amount"></app-control-messages>
            </div>

            <div class="form-group" [class.has-danger]="orderForm.controls.sustention.invalid && orderForm.controls.sustention.touched"
              [class.has-success]="orderForm.controls.sustention.valid && orderForm.controls.sustention.touched">
              <label for="sustention" [class.form-control-label]="orderForm.controls.sustention.touched">Sustento</label>
              <textarea class="form-control" rows="5" id="sustention" placeholder="Ingrese sustento" formControlName="sustention" [class.form-control-danger]="orderForm.controls.sustention.invalid && orderForm.controls.sustention.touched"
                [class.form-control-success]="orderForm.controls.sustention.valid && orderForm.controls.sustention.touched"></textarea>
              <app-control-messages [control]="orderForm.controls.sustention"></app-control-messages>
            </div>

            <div class="form-group" [class.has-danger]="orderForm.controls.product.invalid && orderForm.controls.product.touched" [class.has-success]="orderForm.controls.product.valid && orderForm.controls.product.touched">
              <label for="product" [class.form-control-label]="orderForm.controls.product.touched">Producto</label>
              <select class="form-control" id="product" formControlName="product" [class.form-control-danger]="orderForm.controls.product.invalid && orderForm.controls.product.touched"
                [class.form-control-success]="orderForm.controls.product.valid && orderForm.controls.product.touched">
                <option value="">Seleccione...</option>
                <option *ngFor="let product of products | async" [value]="product.id">{{product.name}}</option>
              </select>
              <app-control-messages [control]="orderForm.controls.product"></app-control-messages>
            </div>

            <div class="form-group" [class.has-danger]="orderForm.controls.city.invalid && orderForm.controls.city.touched" [class.has-success]="orderForm.controls.city.valid && orderForm.controls.city.touched">
              <label for="city" [class.form-control-label]="orderForm.controls.city.touched">Ciudad</label>
              <ng-select id="city" [items]="cities" bindLabel="name" bindValue="id" [multiple]="true" placeholder="Selecciona ciudad" clearAllText="Limpiar"
                formControlName="city" [class.form-control-danger]="orderForm.controls.city.invalid && orderForm.controls.city.touched"
                [class.form-control-success]="orderForm.controls.city.valid && orderForm.controls.city.touched">
              </ng-select>
              <app-control-messages [control]="orderForm.controls.city"></app-control-messages>
            </div>

            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" [disabled]="orderForm.invalid">{{variableFields.nameButton}}</button>
            <button type="button" class="btn btn-inverse waves-effect waves-light" (click)="reset()">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>